{% extends 'admin_base.html' %}

{% block content %}

<h3 class="mb-4">📩 Contact Messages</h3>

<div class="table-responsive">
<table class="table table-bordered text-center">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for msg in messages %}
        <tr>
            <td>{{ msg.name }}</td>
            <td>{{ msg.email }}</td>
            <td>{{ msg.message }}</td>
            <td>{{ msg.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No messages</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}